### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
totalPlayers = (purchase_data.groupby("SN")["SN"].nunique()).count()
totalPlayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
items = (purchase_data.groupby("Item ID")["Item ID"].nunique()).count()
averagePrice = round(purchase_data["Price"].mean(), 2)
totalPurchases = len(purchase_data)
totalRevenue = purchase_data["Price"].sum()
purchasingAnalysis = pd.DataFrame({"Number of Unique Items":[items],
                                    "Average Purchase Price":[averagePrice],
                                    "Total Number of Purchases":[totalPurchases],
                                    "Total Revenue":[totalRevenue]})
purchasingAnalysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
genderCount = purchase_data.groupby("Gender")["SN"].nunique()
genderPercentage = ((genderCount / totalPlayers).round(2)) * 100
genderDemographics = pd.DataFrame({"Gender Count": genderCount,"Gender Percentage": genderPercentage})
genderDemographics

                       Gender Count  Gender Percentage
Gender
Female                           81               14.0
Male                            484               84.0
Other / Non-Disclosed            11                2.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
genderPurchases = (purchase_data.groupby("Gender")["Item Name"]).count()
genderAvgPrice = round((purchase_data.groupby("Gender")["Price"]).mean(), 2)
genderTotal = purchase_data.groupby("Gender")["Price"].sum()
avgTotalPerson = (genderTotal / genderCount).round(2)
genderAnalysis = pd.DataFrame({"Purchase Count":genderPurchases,
                                   "Average Purchase Price":genderAvgPrice,
                                   "Total Purchase Value":genderTotal,
                                   "Avg Total Purchase per Person":avgTotalPerson})
genderAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0,10,15,20,25,30,35,40,45]
ageRanges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels= ageRanges)
ageGroupCount = (purchase_data.groupby("Age Range")["Item Name"]).count()
ageGroupPercentage = round(((purchase_data["Age Range"].value_counts()/780)*100),2)
ageDemographics = pd.DataFrame({"Total Count": ageGroupCount,
                                 "Percentage of Players": ageGroupPercentage})
ageDemographics

       Total Count  Percentage of Players
<10             32                   4.10
10-14           54                   6.92
15-19          200                  25.64
20-24          325                  41.67
25-29           77                   9.87
30-34           52                   6.67
35-39           33                   4.23
>=40             7                   0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
ageGroupAverage = round(purchase_data.groupby("Age Range")["Price"].mean(), 2)
ageGroupTotal = purchase_data.groupby("Age Range")["Price"].sum()
avgPurchaseTotal = (ageGroupTotal/totalPlayers).round(2)
ageRange = pd.DataFrame({"Purchase Count":ageGroupCount,
                            "Average Purchase Price":ageGroupAverage,
                            "Total Purchase Value": ageGroupTotal,
                            "Avg Total Purchase per Person": avgPurchaseTotal})
ageRange

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,32,3.40,108.96,0.19
10-14,54,2.90,156.60,0.27
15-19,200,3.11,621.56,1.08
20-24,325,3.02,981.64,1.70
25-29,77,2.88,221.42,0.38
30-34,52,2.99,155.71,0.27
35-39,33,3.40,112.35,0.20
>=40,7,3.08,21.53,0.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
playerPurchaseCount = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
playerAveragePrice = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
playerTotal = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")
topSpenders = pd.DataFrame({"Purchase Count":playerPurchaseCount,
                            "Average Purchase Price": playerAveragePrice,
                            "Total Purchase Value": playerTotal})
topSpenders.sort_values("Total Purchase Value", ascending=False)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80